@import "mixin";

.container{
  width:100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right:15px;
  @include min-width(sm){
    max-width:540px;
  }
  @include min-width(md){
    max-width:720px;
  }
  @include min-width(lg){
    max-width:960px;
  }
  @include min-width(xl){
    max-width:1140px;
  }

  background-color: white;
  border-radius: 10px;
  border-width: 20px;
  border-color: aqua;
}
.product{
    background-color: #3b3b3b;
    margin-top: 15px;
}

.product-input{
    margin-top: 10px;
}
.all{
    background-color: #303030;
}

h1{
    align-items: center;
    justify-self: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}